<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faridwaid.barangdanpersediaan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarangDanPersediaan">
        <activity
            android:name=".activity.DaftarTransaksiActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PemindaiActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PerusahaanActivity"
            android:exported="true" />
        <activity
            android:name=".activity.KuantitasMinimumActivity"
            android:exported="true"
            android:label="@string/title_activity_kuantitas_minimum"
            android:theme="@style/Theme.BarangDanPersediaan.NoActionBar" />
        <activity
            android:name=".activity.ImpordanExporActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PropertiBarangActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TampilkanActivity"
            android:exported="true" />
        <activity
            android:name=".activity.UmumActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TambahTokoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TambahPemasokActivity"
            android:exported="true" />
        <activity
            android:name=".activity.BarangActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TokoTujuanActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TambahItemActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TambahGrupActivity"
            android:exported="true" />
        <activity
            android:name=".activity.UserActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>